@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir Next Cyr Thin';
  src : url('/ofont.ru_Avenir Next.ttf') format('truetype');
}
@layer base {
  html {
    font-family: 'Avenir Next Cyr Thin', sans-serif;
    background-color: #FEFCF4;
  }
  .container {
    @apply min-w-[1440px] px-5 mx-auto ;
  }
  .gilroy{
    font-family: 'Gilroy', sans-serif;

  }
}

