@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Playwrite+VN:wght@100..400&display=swap');
@font-face {
  font-family: 'Avenir Next Cyr Thin';
  src : url('/ofont.ru_Avenir Next.ttf') format('truetype');
}
@layer base {
  html {
    font-family: 'Avenir Next Cyr Thin', sans-serif;
    background-color: #78D9F7;
  }
  .container {
    @apply max-w-[1440px] px-5 mx-auto  ;
  }
  .gilroy{
    font-family: 'Gilroy', sans-serif;
  }
  .kurale{
    font-family: 'Kurale', serif;
  }
}

